<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="BaseUrl" value="https://www.virustotal.com/vtapi/v2/" />
		<add key="ApiKey" value="c3f9474760e1bfbac4623de4e3c6f3feb31715d0f961926ce6ea2a046d16f12f" />
	</appSettings>
</configuration>